{% load static %} 
<!DOCTYPE html> 
<html lang="en"> 
<head> 
 <title>Buku</title> 
 <!-- CSS 1 -->
 <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
 <!-- CSS BOOTSTRAP -->
 <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.css' %}
"> 
</head> 
<body> 
 <img id="banner" src="{% static 'img/crud.png' %}" alt=""> 
 <div id="menu"> 
 <ul> 
 <li><a href="/">Home</a></li> 
 <li><a href="/about/">About</a></li> 
 <li><a href="/buku/">Data Buku</a></li> 
 </ul> 
 </div> 
  <!-- KELAS CONTAINER BOOTSTRAP -->
  <div class="container">
    <br>
    {% for tampungPost in TampungPostingan %} 
       <h2>{{tampungPost.judul}}</h2>
       <p>{{tampungPost.sinopsis}}</p>
       <div class="alert alert-success" role="alert">
         kategori : {{tampungPost.kategori}}
       </div>
    {% endfor %}
</div>
 </div> 
  <!-- FOOTER -->
  <footer class="footer"> 
    <div class="container"> 
    <span class="text-dark">Copyright 2019</span> 
    </div> 
    </footer> 
    
    <!-- JS BOOTSTRAP -->
    <script src="{% static 'vendor/bootstrap/jquery-3.6.0.slim.min.js' %}" type="text/javascript"></script> 
    <script src="{% static 'vendor/bootstrap/popper.js' %}" type="text/javascript"></script> 
    <script src="{% static 'vendor/bootstrap/bootstrap.js' %}" type="text/javascript"></script> 
    
   </body> 
   </html>